<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <header>
        <div class="ui container">
            <div class="ui secondary pointing menu">

                <a class="header item" href="/blogs">
                    <i class="camera icon"></i> Blog Site
                  </a>
                <a class="active item" href="/blogs">
                  Home
                </a>
                <a class="item" href="/blogs/new">
                  New Post
                </a>
               
                <div class="right menu">
                  <a class="ui item">
                    Logout
                  </a>
                </div>
            
        </div>
    </header>
    
